Numbers' Operations

In [1]:
x=5 # assignment operator assigns a value to a variable

In [2]:
x/2 # this is divsion -gives exact answer

2.5

In [3]:
x//2 # this is floor divison -gives round off of the answer

2

In [4]:
x%2 # this is modulo operator -gives remainder

1

In [5]:
type(x) #type(arguement) gives us the datatype of the variable

int

String Operations

In [6]:
r="florida"
len(r) # gives length of the string

7

In [7]:
a="turing machine"

In [8]:
a.upper() #converts string to upper case

'TURING MACHINE'

In [9]:
b="MELON LEMONS"

In [10]:
b.lower() #converts into lower case

'melon lemons'

In [11]:
a.islower() #tells whether the string is in lower case (true) or not(false)

True

In [12]:
a.isupper() #tells whether the string is in upper case (true) or not(false)

False

In [13]:
a.capitalize() #capitalizes the first character

'Turing machine'

In [14]:
a.center(100) #puts the string in the center with the given parameter (eg 100) spaces on both the sides

'                                           turing machine                                           '

In [15]:
a.count("t") #counts the number of times the specified substring occurs in the string

1

In [16]:
a.endswith("ne") # returns true if the string ends with the specified substring and returns false if it doesn't

True

In [17]:
a.replace("e","i") # replaces substring specified before the comma to the substring specified after the comma

'turing machini'

In [18]:
a.index("m") #tells index value of the specified substring

7

List operations

In [32]:
list=[1,2,3,746.22]
len(list) #tells the length of the string

4

In [33]:
l1=[2.34,'woah',9123]
l1.append(89) #adds an item to the list
l1

[2.34, 'woah', 9123, 89]

In [34]:
l1.remove(89)# removes an item
l1

[2.34, 'woah', 9123]

In [35]:
l1.clear()  #clears list
l1

[]

In [36]:
l2=[6.67,"titan",9087]
l2.reverse()  #reverses the items's order
l2

[9087, 'titan', 6.67]

In [40]:
l2.count(9087) #tells if the passed patrameter is present in the list (returns 1-true) or not (returns0- false)

1

In [41]:
l2.copy() #retuens a copy of the list

[9087, 'titan', 6.67]

In [51]:
l2.extend("123") #extends the list by taking a single character of the whole passed arguements at once as an item
l2

[9087, 'titan', 6.67, 'w', 'w', 'w', 'w', 'w', 'w', '1', '2', '3']

In [60]:
l3=[123,44,3,456.6,"wert"] #pops the item present at the specified index value
l3.pop(3)
l3

[123, 44, 3, 'wert']

Dictionary Operations

In [30]:
dict1={'key1':543,'key2':(98,78,56)}

In [61]:
dict1.keys() #returns all the keys present in the list

dict_keys(['key1', 'key2'])

In [63]:
dict1.values() #returns all the values present in the list

dict_values([543, (98, 78, 56)])

In [70]:
dict1.clear() #clears the dictionary
dict1

{}

In [82]:
d={"1":"bro","2":"hello","3":[123,345,67.8]}
d.fromkeys("1","hey") #uses a key from the creatwed dictionary to create a new dictionary with same key which can have new or different values

{'1': 'hey'}

In [90]:
d.get("2") #Returns the value for  the key if key is in the dictionary else returns default

'hello'

In [91]:
d.items() #views the items of the dictionary

dict_items([('1', 'bro'), ('2', 'hello'), ('3', [123, 345, 67.8])])

In [95]:
d3={"21":22,"34":44}
d3.pop("34") #deletes the specified key
d3

{'21': 22}

In [104]:
d4={"1":"hey","2":"you","3":"what","4":9}
d4.popitem() #by default deletes the last item of the dictionary
d4
d4.popitem()
d4

{'1': 'hey', '2': 'you'}

In [107]:
d4.setdefault("3","back") #inserts a key and value iff key is not present already
d4

{'1': 'hey', '2': 'you', '3': 'back'}

Tuples' Operations

In [114]:
tup1=("hello",1,8.9,1,1)
tup1.count(1) #tells how many times a variable is present in the dictionary

3

In [115]:
tup1.index(8.9) #tells the index of the entered value

2

Sets and Boolean Operations

In [117]:
list=["hello",1,3.4]
s=set(list)
print(s)
s.add("yess") # adds an element to the set
print(s)

{1, 'hello', 3.4}
{1, 'hello', 3.4, 'yess'}

In [120]:
l=[1,23,45]
c=set(l)
c.difference(s) #gives the difference between two sets

{23, 45}

In [121]:
c.intersection(s) #retuens the common item between two sets

{1}

In [122]:
c.discard(23) #removes an item
c

{1, 45}

In [124]:
a= True 
type(a) #tells if a variable has a boolean value or not

bool

In [125]:
6.76>9 #comparison returns boolean value

False

FIBONACCI SERIES

In [127]:
upto=int(input("enter the number of terms upto which fibonacci series is to be found : "))
one=0
two=1
for i in range(0,upto):
    if(i<=1):
        n=i
        print (n,end=" ")
    else:
        n=one+two
        print(n,end=" ")
        one=two
        two=n

enter the number of terms upto which fibonacci series is to be found : 15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377